<ion-header>
    <ion-toolbar>
        <div class="modal-header">
            <ion-title>CREATE TRAINING</ion-title>
            <span (click)="dismiss()">CLOSE</span>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form class="create-training-form" [formGroup]="form">
        <ion-item>
            <ion-input formControlName="name" type="text" placeholder="Name"></ion-input>
        </ion-item>

        <ion-item>
            <ion-input formControlName="relative_time" type="number" placeholder="Relative Time"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Private Training</ion-label>
            <ion-select formControlName="private">
                <ion-select-option value="false" selected>FALSE</ion-select-option>
                <ion-select-option value="true">TRUE</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-auto-complete [multi]="false" [dataProvider]="exerciseAutocompleteService" [disabled]="false" #searchbar [options]="options"
            (itemSelected)="onExerciseSelected($event)" (ionAutoInput)="onExerciseFilterChange($event)"></ion-auto-complete>

        <ion-card *ngFor="let exercise of form.get('exercises').controls; let i = index">
            <ion-card-header>
                <ion-card-subtitle>{{ exercise.controls.exercise.value.muscle_group }}</ion-card-subtitle>
                <ion-card-title class="title">{{ exercise.controls.exercise.value.name }}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                <div class="set_table">
                    <div>
                        <div class="title">SETS COUNT</div>
                        <div>{{ getSetVariable(exercise.controls.set.controls, 'set_type').length }}</div>
                    </div>
                    <div>
                        <div class="title">WEIGHT</div>
                        <div>{{ getSetVariable(exercise.controls.set.controls, 'weight') }}</div>
                    </div>
                    <div>
                        <div class="title">REPS</div>
                        <div>{{ getSetVariable(exercise.controls.set.controls, 'reps') }}</div>
                    </div>
                </div>
            </ion-card-content>
        </ion-card>

        <ion-button class="sign-in-btn" expand="block" (click)="onCreateTraining()">
            CREATE
        </ion-button>
    </form>
</ion-content>
