.modal-header {
    display: flex;
    justify-content: space-between;

    span {
        margin: 10px;
    }
}

.create-training-form {
    padding: 5px;
}

ion-auto-complete {
    width: 97vw;
    margin-top: 10px;
}

ion-auto-complete .loading input.searchbar-input {
    background: none !important;
}

.title {
    text-transform: uppercase;
    font-weight: 900;
}

.set_table {
    display: flex;
    justify-content: space-between;
    width: 100%;
}