<ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button color="primary">
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
        <ion-fab-button color="primary" (click)="onCreateExercise()">
            <ion-icon name="fitness"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="primary" (click)="onCreateTraining()">
            <ion-icon name="stopwatch"></ion-icon>
        </ion-fab-button>
    </ion-fab-list>
</ion-fab>
<ion-searchbar placeholder="Filter Trainings" debounce="500" ></ion-searchbar>
<ion-content id="myplan-content">
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>ABS, ARMS</ion-card-subtitle>
      <ion-card-title>Monday Training</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Now that your app has been created, you'll want to start building out
        features and components. Check out some of the resources below for next
        steps.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>CHEST, BACK</ion-card-subtitle>
      <ion-card-title>Wednesday Training</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Now that your app has been created, you'll want to start building out
        features and components. Check out some of the resources below for next
        steps.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>LEGS</ion-card-subtitle>
      <ion-card-title>Friday Training</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Now that your app has been created, you'll want to start building out
        features and components. Check out some of the resources below for next
        steps.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
