.modal-header {
    display: flex;
    justify-content: space-between;

    span {
        margin: 10px;
    }
}

.create-exercise-form {
    padding: 5px;
}

#profile-content {
    background: #f4f6f8;
}