<ion-fab vertical="bottom" horizontal="end">
  <ion-fab-button color="primary">
      <ion-icon name="add" (click)="createGoal()"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-content id="goals-content">
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Running</ion-card-subtitle>
      <ion-card-title>Morning Running For 5 Weeks</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Now that your app has been created, you'll want to start building out
        features and components. Check out some of the resources below for next
        steps.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
