.avatar-wrapper {
    display: flex;
    padding: 8px;
    justify-content: space-around;
  
    .avatar-info {
      margin-left: 7px;
      min-width: 39%;
      max-width: 46%;
    }
  
    p {
      margin: 0px; 
    }

    .follow-info {
        display: flex;
        div {
            margin-left: 15px;
            p {
                text-align: center;
            }
        }
    }
  }