<ion-header>
  <ion-toolbar>
    <ion-title>Heimdall</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <div class="slide-item">
          <form [formGroup]="singInForm">
              <ion-card>
                  <ion-card-header>
                    <ion-card-subtitle>Sing in</ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-item>
                        <ion-label class="input-label" position="stacked">Email Address <span>*</span></ion-label>
                        <ion-input formControlName="email" clearInput type="email"></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label class="input-label" position="stacked">Password <span>*</span></ion-label>
                      <ion-input  formControlName="password" type="password"></ion-input>
                  </ion-item>
                    <ion-button class="sign-in-btn" (click)="onSingIn()">
                      <ion-icon slot="start" name="key" expand="full" fill="outline"></ion-icon>
                      Sing in
                    </ion-button>
                </ion-card-content>
              </ion-card>
          </form>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="slide-item">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Register</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-item>
                    <ion-label class="input-label" position="stacked" type="text">First Name <span>*</span></ion-label>
                    <ion-input clearInput></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label class="input-label" position="stacked" type="text">Last Name <span>*</span></ion-label>
                    <ion-input clearInput></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label class="input-label" position="stacked" type="email">Email Address <span>*</span></ion-label>
                    <ion-input clearInput></ion-input>
                </ion-item>
                <ion-button class="sign-in-btn" >
                    <ion-icon slot="start" name="today" expand="full" fill="outline"></ion-icon>
                    Register
                </ion-button>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-slide>
    </ion-slides>
</ion-content>
