.input-label {
    font-size: 14px;
    color: #757575;
    span {
        color: red;
    }
}

.sign-in-btn {
    margin-top: 20px;
}

.login-navigation {
    width: 288px;
    margin: 0 auto;
    margin-top: 20px;
}

.separator {
    font-weight: 700;
    text-transform: uppercase;
}

.active-tab {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--ion-color-primary);
    cursor: pointer;
}

.not-active-tab {
    text-transform: uppercase;
    cursor: pointer;
}