<ion-content class="login-page">
  <div class="login-wrapper">
    <div>
      <p class="logo-text">HEIMDALL</p>
    </div>
    <div class="login-container">
      <div class="navigation">
        <span
          [ngClass]="{
            'active-tab': activeSlide === slides.logIn,
            'not-active-tab': activeSlide !== slides.logIn
          }"
          (click)="onChangeSlide(slides.logIn)"
        >
          LOGIN
        </span>
        <span class="separator"> | </span>
        <span
          [ngClass]="{
            'active-tab': activeSlide === slides.singUp,
            'not-active-tab': activeSlide !== slides.singUp
          }"
          (click)="onChangeSlide(slides.singUp)"
        >
          SINGUP
        </span>
      </div>
      <!-- <p class="error-container" *ngIf="(authData | async)?.message"> <ion-icon name="alert"></ion-icon> {{ (authData | async)?.message }}</p> -->
      <ion-slides [options]="slideOpts" #slider>
        <ion-slide>
          <div class="form-container">
            <form [formGroup]="singInForm">
              <ion-item>
                <ion-input
                  formControlName="email"
                  type="email"
                  placeholder="Email"
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-input
                  formControlName="password"
                  type="password"
                  placeholder="Password"
                ></ion-input>
              </ion-item>
              <ion-button
                class="sign-in-btn"
                (click)="onSingIn()"
                expand="block"
              >
                Sing in
              </ion-button>
            </form>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="form-container">
            <form [formGroup]="createUserForm">
              <ion-item>
                <ion-input formControlName="first_name" type="text" placeholder="First Name"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input formControlName="last_name" type="text" placeholder="Last Name"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input formControlName="email" type="text" placeholder="Email"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
              </ion-item>
              <ion-button (click)="onCreateUser()" expand="block" class="sign-in-btn">
                Sing up
              </ion-button>
            </form>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
</ion-content>
