<ion-content>
    <p class="exercise-name">{{ form.controls.exercise.value.name }}</p>
    <form class="create-exercise-form" [formGroup]="form">
        <div formArrayName="set" *ngFor="let s of form.get('set').controls; let i = index;">
            <span class="set-number">
                <i>SET #{{i + 1}}</i>
            </span>
            <div class="row" [formGroupName]="i">
                <ion-item class="row-input">
                    <ion-input readonly formControlName="set_type" type="text" placeholder="Set Type"></ion-input>
                </ion-item>
                <ion-item class="row-input">
                    <ion-input formControlName="weight" type="number" placeholder="Weight"></ion-input>
                </ion-item>
                <ion-item class="row-input">
                    <ion-input formControlName="reps" type="number" placeholder="Reps"></ion-input>
                </ion-item>
            </div>
        </div>
    </form>
    <ion-button class="sign-in-btn" expand="block" type="button" (click)="onSetAdd()">ADD SET</ion-button>
    <div class="navigation-buttons">
        <span (click)="onAddExercise()">
            ADD
        </span>
        <span (click)="dismiss()">
            CANCEL
        </span>
    </div>
</ion-content>