app-user-card {
    width: 100%;
}

#users-list-content {
    z-index: 0;
    ion-refresher { 
        z-index: 1;
    }
    // ion-list {
    //     background: #f4f6f8;
    //     padding: 7px;
    // }
    ion-infinite-scroll-content {
        background: #f4f6f8;
    }
}