<ion-menu side="start" menuId="first" content-id="content">
  <ion-header>
    <ion-toolbar *ngIf="(authData | async)?.user">
      <div class="avatar-wrapper">
        <ngx-avatar
          name=" {{ (authData | async)?.user.first_name }} {{ (authData | async)?.user.last_name }}"
          size="45"
          round="true"
          bgColor="#FCB016"
          fgColor="#333346"
        ></ngx-avatar>
        <div class="avatar-info">
          <p>{{ (authData | async)?.user.first_name }} {{ (authData | async)?.user.last_name }}</p>
          <p *ngIf="(authData | async)?.user.personal_data?.country">{{ (authData | async)?.user.personal_data.country }}</p>
          <p *ngIf="!(authData | async)?.user.personal_data?.country">{{ (authData | async)?.user.email }}</p>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="menu">
      <ion-list>
        <ion-item>
          <ion-icon name="fitness" class="menu-icon"></ion-icon>
          WORKOUT
        </ion-item>
        <ion-item>
          <ion-icon name="paper" class="menu-icon"></ion-icon>
          FEED
        </ion-item>
        <ion-item>
          <ion-icon name="stats" class="menu-icon"></ion-icon>
          ACTIVITY
        </ion-item>
        <ion-item>
          <ion-icon name="settings" class="menu-icon"></ion-icon>
          SETTINGS
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item (click)="handleLogOut()">
          <ion-icon name="power" class="menu-icon"></ion-icon>
          LOGOUT
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="page-title">
      WORKOUT
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content">
  <ion-router-outlet></ion-router-outlet>
</ion-content>
