// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@font-face {
    font-family: "OpenSansCondensed-Light";
    src: url("./assets/font/OpenSansCondensed-Light.ttf");
}

@font-face {
    font-family: "OpenSansCondensed-Bold";
    src: url("./assets/font/OpenSansCondensed-Bold.ttf");
}

:root {
    --ion-color-primary: #2b2b3d !important;
    --ion-color-primary-shade: #2b2b3d !important;
    --ion-color-danger: #FCB016 !important;
    --ion-color-danger-shade: #FCB016 !important;
    --ion-color-success: #2b2b3d !important;
    * {
        font-family: 'OpenSansCondensed-Light';
    }
    app-social {
        background: #f4f6f8;
    }
    ion-content {
        --background: var(--ion-background-color, transparent);;
    }
    ion-card {
        background: #fff;
    }
    .tab-selected {
        ion-label {
            font-family: 'OpenSansCondensed-Bold' !important;
        }
        color: #333346;
    }
    .toast-dialog {
        color: #333346;
        font-family: 'OpenSansCondensed-Bold' !important;
    }
    .login-page {
        * {
            font-family: 'OpenSansCondensed-Bold' !important;
        }
        --ion-color-success: #FCB016 !important;
        --ion-background-color: #333346 !important;
        --background-focused: #333346 !important;
        --ion-item-background-activated: #333346 !important;
        --ion-color-primary-shade: #2b2b3d !important;
        --ion-text-color: #fff !important;
        --ion-color-primary-shade: rgba(255, 255, 255, 0.8) !important;
        ion-input {
            --padding-bottom: 0px;
        }

        .item-interactive.ion-invalid {
            --highlight-background: #2b2b3d !important;
            --full-highlight-height: 1px;
        }

        .item-interactive.item-has-focus {
            --highlight-background: #FCB016 !important;
            --full-highlight-height: calc(var(--highlight-height) * var(--show-full-highlight));
        }

        ion-button {
            --ion-color-primary-shade: #2b2b3d !important;
        }

        ::placeholder { 
            color: #71717f;
            opacity: 1; 
          }
          
          :-ms-input-placeholder { 
            color: #71717f;
          }
          
          ::-ms-input-placeholder { 
            color: #71717f;
          }
    }
}